* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #ffffff;
    font-family: "inter";
}

.flex {
    display: flex;
}

.contact-page {
    width: 1510px;
    margin: 150px auto;
}

.img-container {
    width: 790px;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
}
main {
    width: 720px;
}
.content {
    width: 512px;
    margin: auto;

}

.heading h1 {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -2%;
    margin-bottom: 24px;
}

.heading p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: #667085;
}

.heading span {
     font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    color: #7f56d9;
}

form {
    margin-top: 48px;
}

label {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    color: #344054;
}

input {
    border: 1px solid rgba(208,213,221,1);
    border-radius: 8px;
    padding: 12px 16px;
    margin: 6px 0 24px;
}

#username {
    width: 100%;
}

#usermail {
    width: 100%;
}

.input-phone-number {
    align-items: center;
    border: 1px solid rgba(208,213,221,1);
    border-radius: 8px;
    padding: 0 16px;
    margin: 6px 0 24px;
}

.input-phone-number i {
    scale: 150%;
    margin-top: 2px;
}

.role-number {
    font-size: 1.6rem;
    color: #101828;
    margin-right: 5px;
}


#phonenumber {
    border: none;
    margin: 0;
}

textarea {
    width: 100%;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    padding: 10px 14px;
    background-color: #ffffff;
    font-family: "inter";
    margin: 6px 0 24px;
}
.input-checkbox {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 16px 0 36px;
}

button {
    width: 100%;
    background-color: #7f56d9;
    color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 12px 20px;
}







